<template>
    <div>
        <app-header></app-header>
    </div>
</template>

<script>
import AppHeader from '../../components/main-pages/AppHeader.vue'
export default {
  components: { AppHeader },

}
</script>

<style>

</style>