<template>
    <div>
        <app-task></app-task>
    </div>
</template>

<script>
import AppTask from '../../components/main-pages/AppTask.vue'
export default {
    layout: 'main-pages',
    components: { AppTask },

}
</script>

<style>

</style>