<template>
    <div class="header">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#">
                            <img src="~/assets/images/logo.png" alt="logo-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style>
    .header {
        background-color: rgb(57, 57, 143);
        width: 100vw;
        padding-top: 10px;
    }
    img {
        width: 60px;
        height: 40px;
    }
</style>