<template>
    <div class="header">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 text-center logo">
                        <a href="#">
                            <img src="~/assets/images/logo.png" alt="logo-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-secondary float-right">Tạo dự án mới</button>
                    </div>
                    <div class="col-md-5">
                        <input type="search" name="search" class="form-control" placeholder="Tìm kiếm dự án">
                    </div>
                    <div class="col-md-1">
                        <div>
                            <a href="#">
                                <img class="user-img" src="" alt="uer-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style>
    .header {
        background-color: rgb(57, 57, 143);
        width: 100vw;
        padding-top: 10px;
    }
    .user-img {
        width: 38px;
        height: 30px;
        border-radius: 50%;
    }
    img {
        width: 60px;
        height: 40px;
    }
</style>