<template>
    <div class="task-content">
        <div class="row">
            <div class="col-md-4">
                <h2>Tên dự án</h2>
            </div>
            <div class="col-md-2">
                <p>Ngày bắt đầu <span>~</span> Ngày kết thúc</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-success float-right">Xem thành viên</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary float-right">Chi tiết dự án</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary">Thêm thành viên</button>
            </div>
        </div>
        
    <!-- Lists container -->
    <section class="lists-container">

        <div class="list">

            <h3 class="list-title">Ten task</h3>

            <ul class="list-items">
                <li>
                    <p>Nội dung: </p>
                    <p>Ngày bắt đầu <span>~</span>Ngày kết thúc</p>
                </li>
            </ul>

            <button class="add-card-btn btn">Sửa thông tin</button>

        </div>
        <button class="add-list-btn btn">Thêm task</button>

    </section>
    <!-- End of lists container -->
    </div>
</template>

<script>
export default {
}
</script>

<style>
    .task-content {
        padding: 40px 0;
        background-color: #c4c9cc;
    }
    /* Lists */
    .lists-container::-webkit-scrollbar {
        height: 2.4rem;
    }

    .lists-container::-webkit-scrollbar-thumb {
        background-color: #66a3c7;
        border: 0.8rem solid #0079bf;
        border-top-width: 0;
    }

    .lists-container {
        display: flex;
        align-items: start;
        padding: 0 0.8rem 0.8rem;
        overflow-x: auto;
        height: calc(100vh - 8.6rem);
    }

    .list {
        flex: 0 0 27rem;
        display: flex;
        flex-direction: column;
        background-color: #e2e4e6;
        max-height: calc(100vh - 11.8rem);
        border-radius: 0.3rem;
        margin-right: 1rem;
    }

    .list:last-of-type {
        margin-right: 0;
    }

    .list-title {
        font-size: 1.4rem;
        font-weight: 700;
        color: #333;
        padding: 1rem;
    }

    .list-items {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: start;
        padding: 0 0.6rem 0.5rem;
        overflow-y: auto;
    }

    .list-items::-webkit-scrollbar {
        width: 1.6rem;
    }

    .list-items::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
        border-right: 0.6rem solid #e2e4e6;
    }

    .list-items li {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
        background-color: #fff;
        padding: 0.65rem 0.6rem;
        color: #4d4d4d;
        border-bottom: 0.1rem solid #ccc;
        border-radius: 0.3rem;
        margin-bottom: 0.6rem;
        word-wrap: break-word;
        cursor: pointer;
    }

    .list-items li:last-of-type {
        margin-bottom: 0;
    }

    .list-items li:hover {
        background-color: #eee;
    }

    .add-card-btn {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        color: #838c91;
        padding: 1rem;
        text-align: left;
        cursor: pointer;
    }

    .add-card-btn:hover {
        background-color: #cdd2d4;
        color: #4d4d4d;
        text-decoration: underline;
    }

    .add-list-btn {
        flex: 0 0 27rem;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        background-color: #006aa7;
        color: #a5cae0;
        padding: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: background-color 150ms;
        text-align: left;
    }

    .add-list-btn:hover {
        background-color: #005485;
    }

    .add-card-btn::after,
    .add-list-btn::after {
        content: '...';
    }


</style>