<template>
    <div class="task-detail-content">
        <div class="row">
            <div class="col-md-4">
                <h2>Tên dự án</h2>
            </div>
            <div class="col-md-2">
                <p>Ngày bắt đầu <span>~</span> Ngày kết thúc</p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-success float-right">Xem thành viên</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary float-right">Chi tiết dự án</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary">Thêm thành viên</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>