<template>
    <div>
        <app-header></app-header>
        <Nuxt />
    </div>
</template>

<script>
import AppHeader from '../components/login-register/AppHeader.vue';
export default {
    components: { AppHeader }
}
</script>

<style>

</style>