<template>
    <div>
        <app-header></app-header>
            <Nuxt />
    </div>
</template>

<script>
import AppHeader from '../components/main-pages/AppHeader.vue'
export default {
    components: { AppHeader },

}
</script>

<style>

</style>